In [38]:
import pandas as pd
import numpy as np

In [39]:
pd.set_option('display.max_colwidth', None)

In [40]:
dati = pd.read_csv("https://raw.githubusercontent.com/pcm-dpc/COVID-19/master/dati-andamento-nazionale/dpc-covid19-ita-andamento-nazionale.csv")
dati

,data,stato,ricoverati_con_sintomi,terapia_intensiva,totale_ospedalizzati,isolamento_domiciliare,totale_positivi,variazione_totale_positivi,nuovi_positivi,dimessi_guariti,...,tamponi,casi_testati,note,ingressi_terapia_intensiva,note_test,note_casi,totale_positivi_test_molecolare,totale_positivi_test_antigenico_rapido,tamponi_test_molecolare,tamponi_test_antigenico_rapido
0,2020-02-24T18:00:00,ITA,101,26,127,94,221,0,221,1,...,4324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-02-25T18:00:00,ITA,114,35,150,162,311,90,93,1,...,8623,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-02-26T18:00:00,ITA,128,36,164,221,385,74,78,3,...,9587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-02-27T18:00:00,ITA,248,56,304,284,588,203,250,45,...,12014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-02-28T18:00:00,ITA,345,64,409,412,821,233,238,46,...,15695,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,2021-08-17T17:00:00,ITA,3472,423,3895,125221,129116,420,5273,4191980,...,80918997,31805240.0,NaN,49.0,NaN,NaN,4288619.0,160987.0,55887829.0,25031168.0
541,2021-08-18T17:00:00,ITA,3559,442,4001,124781,128782,-334,7162,4199404,...,81145420,31861792.0,NaN,50.0,NaN,NaN,4295456.0,161309.0,55987914.0,25157506.0
542,2021-08-19T17:00:00,ITA,3627,460,4087,126415,130502,1720,7260,4204869,...,81351951,31914369.0,NaN,40.0,NaN,NaN,4302436.0,161569.0,56076867.0,25275084.0
543,2021-08-20T17:00:00,ITA,3692,455,4147,127315,131462,960,7224,4211080,...,81572607,31964840.0,NaN,26.0,NaN,NaN,4309435.0,161790.0,56162599.0,25410008.0
544,2021-08-21T17:00:00,ITA,3733,466,4199,129222,133421,1959,7470,4216542,...,81827825,32024485.0,NaN,40.0,NaN,NaN,4316649.0,162042.0,56252852.0,25574973.0

In [41]:
dati['deceduti']=dati['deceduti']-dati['deceduti'].shift()

In [42]:
dati.rename(columns = {'deceduti':'nuovi_deceduti'}, inplace = True)

In [43]:
dati.fillna(0, inplace=True)
dati['nuovi_deceduti']=dati['nuovi_deceduti'].astype(int)
dati["nuovi_deceduti"].loc[0] = 7
pd.set_option("mode.chained_assignment", None)
dati

,data,stato,ricoverati_con_sintomi,terapia_intensiva,totale_ospedalizzati,isolamento_domiciliare,totale_positivi,variazione_totale_positivi,nuovi_positivi,dimessi_guariti,...,tamponi,casi_testati,note,ingressi_terapia_intensiva,note_test,note_casi,totale_positivi_test_molecolare,totale_positivi_test_antigenico_rapido,tamponi_test_molecolare,tamponi_test_antigenico_rapido
0,2020-02-24T18:00:00,ITA,101,26,127,94,221,0,221,1,...,4324,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2020-02-25T18:00:00,ITA,114,35,150,162,311,90,93,1,...,8623,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2020-02-26T18:00:00,ITA,128,36,164,221,385,74,78,3,...,9587,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2020-02-27T18:00:00,ITA,248,56,304,284,588,203,250,45,...,12014,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2020-02-28T18:00:00,ITA,345,64,409,412,821,233,238,46,...,15695,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,2021-08-17T17:00:00,ITA,3472,423,3895,125221,129116,420,5273,4191980,...,80918997,31805240.0,0,49.0,0.0,0.0,4288619.0,160987.0,55887829.0,25031168.0
541,2021-08-18T17:00:00,ITA,3559,442,4001,124781,128782,-334,7162,4199404,...,81145420,31861792.0,0,50.0,0.0,0.0,4295456.0,161309.0,55987914.0,25157506.0
542,2021-08-19T17:00:00,ITA,3627,460,4087,126415,130502,1720,7260,4204869,...,81351951,31914369.0,0,40.0,0.0,0.0,4302436.0,161569.0,56076867.0,25275084.0
543,2021-08-20T17:00:00,ITA,3692,455,4147,127315,131462,960,7224,4211080,...,81572607,31964840.0,0,26.0,0.0,0.0,4309435.0,161790.0,56162599.0,25410008.0
544,2021-08-21T17:00:00,ITA,3733,466,4199,129222,133421,1959,7470,4216542,...,81827825,32024485.0,0,40.0,0.0,0.0,4316649.0,162042.0,56252852.0,25574973.0

In [44]:
datinuovi = dati[["data","stato","terapia_intensiva","totale_ospedalizzati","nuovi_deceduti"]]
datinuovi

,data,stato,terapia_intensiva,totale_ospedalizzati,nuovi_deceduti
0,2020-02-24T18:00:00,ITA,26,127,7
1,2020-02-25T18:00:00,ITA,35,150,3
2,2020-02-26T18:00:00,ITA,36,164,2
3,2020-02-27T18:00:00,ITA,56,304,5
4,2020-02-28T18:00:00,ITA,64,409,4
...,...,...,...,...,...
540,2021-08-17T17:00:00,ITA,423,3895,54
541,2021-08-18T17:00:00,ITA,442,4001,69
542,2021-08-19T17:00:00,ITA,460,4087,55
543,2021-08-20T17:00:00,ITA,455,4147,49
544,2021-08-21T17:00:00,ITA,466,4199,45

In [45]:
datinuovi["data"] = pd.to_datetime(datinuovi['data'])
datinuovi['data'] = datinuovi['data'].dt.date
datinuovi['data']= pd.to_datetime(datinuovi['data'])

In [46]:
dati_MA7 = datinuovi

In [47]:
dati_MA7.set_index('data', inplace=True)

In [48]:
dati_MA7 = dati_MA7.rolling(window=7, min_periods=1).mean().round()

In [49]:
dati_MA7.reset_index(inplace=True)
dati_MA7

          data  terapia_intensiva  totale_ospedalizzati  nuovi_deceduti
0   2020-02-24               26.0                 127.0             7.0
1   2020-02-25               30.0                 138.0             5.0
2   2020-02-26               32.0                 147.0             4.0
3   2020-02-27               38.0                 186.0             4.0
4   2020-02-28               43.0                 231.0             4.0
..         ...                ...                   ...             ...
540 2021-08-17              377.0                3524.0            34.0
541 2021-08-18              392.0                3626.0            39.0
542 2021-08-19              408.0                3735.0            43.0
543 2021-08-20              420.0                3841.0            43.0
544 2021-08-21              433.0                3945.0            45.0

[545 rows x 4 columns]

In [50]:
dati_MA7[["terapia_intensiva", "totale_ospedalizzati","nuovi_deceduti"]] = dati_MA7[["terapia_intensiva", "totale_ospedalizzati","nuovi_deceduti"]].astype(np.int64)

In [51]:
dati_MA7.dtypes

data                    datetime64[ns]
terapia_intensiva                int64
totale_ospedalizzati             int64
nuovi_deceduti                   int64
dtype: object

In [52]:
dati_MA7

          data  terapia_intensiva  totale_ospedalizzati  nuovi_deceduti
0   2020-02-24                 26                   127               7
1   2020-02-25                 30                   138               5
2   2020-02-26                 32                   147               4
3   2020-02-27                 38                   186               4
4   2020-02-28                 43                   231               4
..         ...                ...                   ...             ...
540 2021-08-17                377                  3524              34
541 2021-08-18                392                  3626              39
542 2021-08-19                408                  3735              43
543 2021-08-20                420                  3841              43
544 2021-08-21                433                  3945              45

[545 rows x 4 columns]

In [53]:
dati_MA7.to_csv(r"YOURPATH\datimediamobile7giorni.csv", index = False)